# Entornos virtuales
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Bóvedas y secretos — NUNCA subir
*.vault
*.db
*.sqlite
vault.json
*.key
.env
bovedas_

# SO / editor
.vscode/
.DS_Store
Thumbs.db*:Zone.Identifier
README_pass.md:Zone.Identifier
Reporte_SDD_Gestor_Contrasenas.md:Zone.Identifier
IDEA_Gestor_Contrasenas.md:Zone.Identifier